*{
margin:0;
padding:0;
font-family:Arial,sans-serif;
font-size:16px;
}
#container{
width:400px;
height:auto;
margin-top:20px;
margin-left:auto;
margin-right:auto;
}
.row1{
width:100%;
}
.row1 input {
width:100%;
height:75px;
outline:none;
border:0;
text-align:center;
box-shadow:3px 2px 5px grey;
transition:.5s;
}
.row1 input:focus  {
transform:scale(1.05);
background:linear-gradient(to right,#e6ecff,#e6ffee);
font-size:18px;
transform:scale(1.05);
}
.row2 {
width:400px;
}
button{
width:80px;
margin:10px;
float:left;
text-align:center;
padding-top:20px;
padding-bottom:20px;
border-radius:50px;
font-weight:bold;
outline:none;
background-color:transparent;
border:0;
box-shadow:3px 2px 5px 1px grey;
transition:.5s;
}
.row2 button:hover {
background:linear-gradient(to right,#ffb3f2,#ffe6fb);
transform:scale(1.05);
opacity:0.8;
color:#000;
}
.del{
background:#e60000;
color:#fff;
}
.ac{
background:#00ff00;
}